<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.TeaPlucker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_tea"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_tea_round"
        android:theme="@style/Theme.TeaPlucker">
        <activity
            android:name=".PrintBillActivity"
            android:exported="false" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SplashActivty"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddSuplierActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ViewDetailsActivity" />
        <activity android:name=".EmployeeActivity" />
        <activity android:name=".PreDataSetActivity" />
        <activity
            android:name=".SupplierFormActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".ViewEmployeeActivity" />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

</manifest>